<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMW M</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <video autoplay muted class="preloader">
        <source src="/pictures/loading(1).mp4" class="loader">
    </video>

    <video autoplay loop muted plays-inline class="background">
        <source src="/pictures/videoplayback (1).mp4">
    </video>
    <div class="content">
        <div class="mainTitle">
            THE M
        </div>
        <div class="header">
            <div class="container">
                <div class="logo">
                    <img src="/pictures/pngwing.com.png" alt="Logo">
                </div>
                <div class="titles">
                    <div class="title1 title">
                        Support
                    </div>
                    <div class="title2 title">
                        Models
                    </div>
                    <div class="title3 title">
                        Call
                    </div>
                    <div class="title4 title">
                        Gen M
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="containerM">
                <div class="modelBox">
                    <div class="imgBox">
                        <img src="https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/model-navigation/bmw-m8-competition-coupe-flyout.png?imwidth=1920">
                    </div>
                    <div class="boxTitle">
                        BMW M8
                    </div>
                </div>
                <div class="modelBox">
                    <div class="imgBox">
                        <img src="https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/model-navigation/bmw-m5-limousine-light-2024-flyout.png?imwidth=1920">
                    </div>
                    <div class="boxTitle">
                        BMW M5
                    </div>
                </div>
                <div class="modelBox">
                    <div class="imgBox">
                        <img src="https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/model-navigation/bmw-m4-cs-flyout.png?imwidth=1920">
                    </div>
                    <div class="boxTitle">
                        BMW M4
                    </div>
                </div>
                <div class="modelBox">
                    <div class="imgBox">
                        <img src="https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/model-navigation/bmw-m3-competition-sedan-m-xdrive-lci-flyout.png?imwidth=1920">
                    </div>
                    <div class="boxTitle">
                        BMW M3
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        const preloader = document.querySelectorAll("preloader")

        $(window).on("load",function(){
            $(".preloader").fadeOut(4000)
        })
    </script>
</body>

</html>