<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMW M</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <video autoplay muted class="preloader">
        <source src="/pictures/loading(1).mp4" class="loader">
    </video>

    <video autoplay loop muted plays-inline class="background">
        <source src="/pictures/videoplayback (1).mp4">
    </video>
    <div class="content">
        <div class="mainTitle">
            THE M
        </div>
        <div class="header">
            <div class="container">
                <div class="logo">
                    <img src="/pictures/pngwing.com.png" alt="Logo">
                </div>
                <div class="titles">
                    <div class="title1 title">
                        <a href="/support" class="support">Contact Us</a>
                    </div>
                    <div class="title2 title">
                        Models
                    </div>
                    <div class="title3 title">
                        Call
                    </div>
                    <div class="title4 title">
                        Gen M
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="containerM">
                <div class="modelBox">
                    <div class="imgBox">
                        <img
                            src="https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/model-navigation/bmw-m8-competition-coupe-flyout.png?imwidth=1920">
                    </div>
                    <div class="boxTitle">
                        <a href="/M8" class="click">BMW M8</a>
                    </div>
                </div>
                <div class="modelBox">
                    <div class="imgBox">
                        <img
                            src="https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/model-navigation/bmw-m5-limousine-light-2024-flyout.png?imwidth=1920">
                    </div>
                    <div class="boxTitle">
                        <a href="/M5" class="click">BMW M5</a>
                    </div>
                </div>
                <div class="modelBox">
                    <div class="imgBox">
                        <img
                            src="https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/model-navigation/bmw-m4-cs-flyout.png?imwidth=1920">
                    </div>
                    <div class="boxTitle">
                        <a href="/M4" class="click">BMW M4</a>
                    </div>
                </div>
                <div class="modelBox">
                    <div class="imgBox">
                        <img
                            src="https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/model-navigation/bmw-m3-competition-sedan-m-xdrive-lci-flyout.png?imwidth=1920">
                    </div>
                    <div class="boxTitle">
                        <a href="/M3" class="click">BMW M3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footerTop">
            <div class="devs">
                Javohir, Xurshid
            </div>
            <div class="socials">
                <div class="creator-1 create">
                    <h3>Creator 1</h3>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=javohiruser2008@gmail.com" target="_blank"
                        class="gmail">📧Gmail</a>

                    <a href="https://github.com/Blackmena" target="_blank" class="github">💻GitHub</a>
                </div>
                <div class="creator-2 create">
                    <h3>Creator 2</h3>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=xurshidholiqulov@gmail.com"
                        class="gmail">📧Gmail</a>

                    <a href="https://github.com/JavaGamer009" target="_blank" class="github">💻GitHub</a>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            All rights reserved
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        const preloader = document.querySelectorAll("preloader")

        $(window).on("load", function () {
            $(".preloader").fadeOut(4000)
        })
    </script>
</body>

</html>