<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMW M8</title>
    <link rel="stylesheet" href="/css/M.css">
</head>

<body>
    <div class="header">
        <p>THE BMW M8</p>
    </div>
    <div class="main">
        <div class="imgTitle">
            <img
                src="https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/all-models/m-automobile/m8coupe/2022/bmw-m8-competition-coupe-hd-012.jpg?imwidth=1920">
        </div>
        <div class="info">
            The BMW M8 Competition Coupé and the BMW M8 Coupé combine pure M genes with supreme exclusivity. Innovative
            technologies such as BMW M Mode and Adaptive M suspension ensure unparalleled driving dynamics. The latest
            version of the M TwinPower Turbo 8-cylinder petrol engine with max. 460 kW (625 hp) guarantees performance
            in keeping with the latest standards. The BMW M8 is the perfect symbiosis of pure sportiness and exquisite
            luxury.
        </div>
    </div>
</body>

</html>