<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conyact Us</title>
    <link rel="stylesheet" href="/css/support.css" />
</head>

<body>
    <div class="box">
        <div class="near">
            <div class="creator-1">
                <h3>Creator 1</h3>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=javohiruser2008@gmail.com" target="_blank"
                    class="gmail">📧Gmail</a>

                <a href="https://github.com/Blackmena" target="_blank" class="github">💻GitHub</a>
            </div>
            <div class="creator-2">
                <h3>Creator 2</h3>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=xurshidholiqulov@gmail.com"
                    class="gmail">📧Gmail</a>

                <a href="https://github.com/JavaGamer009" target="_blank" class="github">💻GitHub</a>
            </div>
        </div>
        <div class="info">
            <h3>creator-1</h3>
            <p>
                Assalomu alaykum! Men Javohir, Toshkentdan chiqqan yangi avlod
                dasturchisiman. Python, Git va CLI bilan ishlashni yaxshi ko‘raman.
                Alpha-life falsafasi bo‘yicha har kuni o‘z ustimda ishlayman: kod,
                sport va mental o‘sish. Maqsadim – texnologiya va odatlarni
                birlashtirib atrofdagilarga ijobiy ta’sir ko‘rsatish.
            </p>
            <h3>creator-2</h3>
            <p>
                Assalomu alaykum! Men Xurshid, Surxondayodan chiqqan yangi avlod
                dasturchisiman. Python, Git va CLI bilan ishlashni yaxshi ko‘raman.
                Alpha-life falsafasi bo‘yicha har kuni o‘z ustimda ishlayman: kod,
                sport va mental o‘sish. Maqsadim – texnologiya va odatlarni
                birlashtirib atrofdagilarga ijobiy ta’sir ko‘rsatish.
            </p>
        </div>
    </div>
</body>

</html>