* {
    margin: 0;
    font-family: sans-serif;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top */
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    animation-delay: 5s;
}

.background {
    position: fixed;
    z-index: -999;
    margin-top: 6%;
    object-fit: cover;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    width: 100%;
}
.logo {
    width: 15%;
}
.titles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.title {
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: white;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#content {
    display: none; /* Initially hidden */
}

.loaded #content {
    display: block; /* Show content after loading */
}

.main {
    margin-top: 1000px;
    width: 100%;
}
.containerM {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.modelBox {
    background-color: white;
    width: 45%;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px ;
}

.imgBox img {
    width: 100%;
}

.boxTitle {
    height: 50px;
    color: black;
    font-size: 50px;
}

@media (max-aspect-ratio: 16/9) {
    .background {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .background {
        width: auto;
        height: 100%;
    }
}