* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center; 
}

body {
    background-color: #333;
}

.box {
    width: 50%;
    margin: 0 auto;
    background-color: beige;
    align-items: center;
    margin-top: 40px;  
    padding: 10px;
    border-radius: 10px; 
}

.creator-2 {
    margin-top: 20px;
}

.creator-1 h3 {
    font-size: 40px;
}

.creator-2 h3 {
    font-size: 40px;
}

.info {
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #333;
    padding: 20px;
    height: 30vh;
}

.gmail {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 10px;
}

.github {
    padding: 10px;
    background-color: rgb(20, 56, 122);
    color: white;
    font-size: 30px;
    border-radius: 10px;
}
.info {
    margin-top: 40px;
}
.info h3 {
    font-size: 30px;
    color: black;
}
.info p {
    font-size: 20px;
    color: black;
}